/* main.css */

/* These are the colors and fonts used throughout the webpage.
 * I've listed them here so that a user may easily
 * do a search-and-replace for these to change the site theme.
 *   'Roboto',sans-serif; Font for the title text
 *   'Roboto-Slab',serif; Font for the body text 
 *   #fafafa; Background color of the site
 *   #505050; Foreground (text) color of the site
 *   #52739e; Navy, "Template" in the logo, current page in navigation, special titles in the Program
 *   #b2132e; Reddish, "Conference" in the logo, hover color for links
 *   #813c54; Heading color, titles in the Program
 *   #b8860b; Dark Goldenrod, color for links
 */

@import url('https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab');

*{
    border:0;
    font:inherit;
    font-size:1em;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

body{
    background-color: #fafafa;
    background-size: cover;
    background-attachment: fixed;
    color: #505050; 
    text-align:left;
    font-family:'Roboto',sans-serif;
    font-size:1em;
    line-height:1.5em;
    margin: 60px auto;
    width: 1000px;
}

a{color: #b8860b; text-decoration:none;}
a.current{color: #52739e;}
a.current:hover{color: #e82945;}
a:hover{color: #b2132e;}
a:active{color: #e82945;}
h1,h2,h3,h4{clear:left; color: #333333; margin:1.5em 0em 1em 0em; font-family:'Roboto Slab',serif; text-shadow: 1px 1px 2px #d0d0d0;}
h1{font-size:2.00em;}
h2{font-size:1.50em;}
h3{font-size:1.25em;}
h4{font-size:1.10em;}
p{list-style:none; margin:24px auto 24px auto; padding:0px; width:900px; text-align:left;}
li a, p a {text-decoration:underline; text-decoration-color:#b8860b;}
ul{list-style:disc; margin:24px auto 24px auto; padding:0px 0px 0px 20px; width:800px; text-align:left;}
ul li{list-style:disc; margin:0px auto 0px auto; padding:0px; text-align:left;}
i,em{font-style:italic;}
b,strong{font-weight:bold;}
sup{
    vertical-align: super;
    font-size: 0.8em;
    line-height: 0;
}
sub{
    vertical-align: sub;
    font-size: 0.8em;
    line-height: 0;
}
table{
    width: 1000px;
    margin: 12px auto 24px auto;
    float: center;
    /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
    /*border: 1px solid black;*/
}
th,td{
    text-align: left;
    /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
    /*border: 1px solid black;*/
}

/* Website Banner */
.banner {position: relative; font-family:'Roboto Slab',serif; margin: 3em 0 1.5em 0;}
.banner img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
}
.top-left {
    font-size:4.2em; 
    color: #505050; 
    text-align: center; 
    width: 1000px; 
    margin-bottom: 0.5em;
    line-height: 1.1em;
    position: relative;
}
.bottom-right {font-size:2.33em; color: #fafafa; line-height: 1.5em; width: auto; height: 100px; padding: 0px 27px 27px 0px; text-align: right; position: absolute; bottom: 0px; right: 0px; text-shadow: 0px 0px 6px #000000;}

/* Conference Info Between Title and Banner */
.conference-info {
    font-size: 1.3em;
    color: #333333;
    line-height: 1.3em;
    text-align: right;
    font-family: 'Roboto Slab', serif;
    margin: 0.5em 0 1em 0;
    width: 100%;
    font-weight: normal;
    text-shadow: 1px 1px 2px #d0d0d0;
}

/* Conference Title Logo */
.title1{color: #e91e63;} 
.title2{color: #673ab7;}
.year{color: #424242; font-size:0.67em; font-weight: lighter;}

/* Subtitle */
.subtitle {
    text-align: center;
    margin: 1em 0;
    font-family: 'Roboto Slab', serif;
}
.subtitle-line1 {
    font-size: 1.2em;
    color: #888888;
    line-height: 1.2em;
    margin-bottom: 0.2em;
}
.subtitle-line2 {
    font-size: 1.2em;
    color: #333333;
    line-height: 1.2em;
    margin-bottom: 1em;
}
.subtitle-divider {
    border: 0;
    height: 1px;
    background-color: #cccccc;
    margin: 1em auto;
    width: 200px;
}

/* Navigation Links (Home, Registration, etc) */
table.navigation{width:800px;}
td.navigation{font-size:1.4em; white-space:nowrap; width:33.33%; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}
td.navigation a{color: #9c27b0; text-decoration:none;}
td.navigation a.current{color: #e91e63;}
td.navigation a:hover{color: #e91e63;}
td.navigation a:active{color: #e82945;}

/* Sponsor Images */
table.sponsors{width:800px; margin:4em auto 1em auto;}
td.sponsor{white-space:nowrap; width:33.33%; text-align:center; vertical-align:middle; padding:0px 10px 0px 10px;}
td.sponsor img{width: 60%; max-width: 160px; height: 70px; object-fit: contain;}

/* The Table on the Program Page */
td.room{padding: 4px 12px 4px 4px; width: 90%; vertical-align:bottom; font-size:1.67em; color: #52739e; height:32px;}
td.date{white-space:nowrap; width:130px; text-align:right; vertical-align:top; padding:4px 16px 0px 0px;}
td.title{padding: 4px 12px 4px 4px; width: 90%; vertical-align:top; font-size:1.5em; color: #333333; height:32px; font-family:'Roboto Slab',serif; text-shadow: 1px 1px 2px #d0d0d0; cursor: pointer; transition: color 0.3s ease;}
td.title:hover{color: #2196f3;}
td.title-special {
    color: #52739e;
    font-size: 120%;
    font-weight: bold;
    text-shadow: none;
}
td.speaker{padding: 4px 12px 4px 4px; font-style: italic; font-size:1em; max-height:999999px}
td.abstract{padding: 4px 12px 12px 4px; font-size:1em; max-height:999999px}
td.abstract img{display: block; margin: 4px auto 8px auto}
table.plenary{padding-top: 8px; background: transparent;}
table.special-event{padding-top: 8px; background: transparent;}

/* Registration and Directions iframes and Images */
iframe.registration{display:block; margin:1em auto 2em auto; width:700px; height:1400px; border:none;}
iframe.directions{display:block; margin:1em auto 2em auto; width:800px; height:400px; border:none;}
img.center{display:block; width:67%; margin:1em auto 2em auto;}

footer{font-size:0.875em; margin-top:3em; text-align:center;}

/* My hacky way of making the site mobile-friendly */
@media only screen and (max-width: 1100px) {
    h2{font-size:3.00em;}
    p{font-size:1.5em; line-height:1.5em;}
    th,td,tr{font-size:1.5em; line-height:1.5em;}
    td.date{font-size:1em; padding-top:0.5em;}
    td.navigation{font-size:1.3em; padding:0px 20px 0px 20px;}
    table.footer{font-size:0.33em;}
}

.purple-highlight {
    color: #9b59b6;
    font-weight: bold;
}

.no-link-color {
    color: #333333 !important;
    text-decoration: underline !important;
}

.no-link-color:hover {
    color: #505050 !important;
    text-decoration: underline !important;
}

/* Session type labels */
.session-type {
    font-size: 90%;
    font-weight: normal;
    margin-right: 8px;
    padding: 2px 6px;
    border-radius: 3px;
    display: inline-block;
}

.session-type.paper {
    background-color: #e8f4f8;
    color: #2c5aa0;
    border: 1px solid #b3d9e8;
}

.session-type.talk {
    background-color: #f0f8e8;
    color: #4a7c59;
    border: 1px solid #c8e6b8;
}

/* Break event styling */
.break-event {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border: 1px dashed #8fa8b8;
    border-radius: 10px;
}

.break-event .title-special {
    color: #4a6741;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    vertical-align: middle;
}

.break-event .date {
    color: #666;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

/* Ensure all tables align properly */
.special-event {
    width: 100%;
    margin-bottom: 15px;
}

.special-event .date {
    width: 120px;
    text-align: center;
    vertical-align: top;
    padding: 8px;
}

.special-event .title-special {
    vertical-align: top;
    padding: 8px;
}

